

.full-body{background-image: url(https://i.gifer.com/JyDu.gif);
    background-size: cover;

    overflow: auto;
    height: 88vh;}
    
    
    img{width: 400px;
    border-radius: 50px;}
    
    span{color: rgb(171, 218, 79);}
    
    
    li{color: whitesmoke;}
    
    .card{width: 500px;
    height: 500px;}

    input{width: 100%;
    background-color: transparent;
color:whitesmoke;}

.main-card{height: 80vh;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

.button{display: flex;
    justify-content: space-around;}


    img{width: 200px;
    height: 300px;}


    ::-webkit-scrollbar{width: 50px;}


    @media(max-width:999px){
        #mini-bio{margin-top: 80px;}
    }